<%- include("partials/header");-%>

<div class="head-section">
  <h1 class="head-heading">Hotel Iris</h1>
  <h3 class="head-para">Luxury at its finest</h3>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="public\images\skyview.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="public\images\hall.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="public\images\pool.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="card text-bg-dark" style="max-width:500px">
  <img src="public\images\table.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class=" restaurant card-title">Restaurant</h5>
    <p class=" restaurant card-text">We have a multi cuisine restaurant. We have both buffet and table service.</p>
    <p class="restaurant card-text"><small><a class="click" href="#">Click here</a> to avail reservation.</small></p>
  </div>
</div>

<div class="card text-bg-dark" style="max-width:500px">
  <img src="public\images\convhall.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="hall card-title">Convention Halls</h5>
    <p class="hall card-text">We have wedding halls, party halls, conference halls and convention halls for various events.</p>
    <p class="hall card-text"><small><a class="click" href="#">Click here</a> to book a convention hall.</small></p>
  </div>
</div>

<div class="card text-bg-dark" style="max-width:500px">
  <img src="public\images\room.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="stay card-title">Stay</h5>
    <p class="stay card-text">We have deluxe rooms, standard suites and presidential suites.</p>
    <p class="stay card-text"><small><a class="click" href="#">Click here</a> to book a room.</small></p>
  </div>
</div>

  </body>
</html>
